.logo {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.35em;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  /* background: #fdfdfd; */
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 90px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* position: fixed; */
}

.headerNav {
  display: flex;
  gap: 31px;
}

.desktopLinks {
  display: none;
}

/* .detailHeader .logo {
  color: white;
}

.detailHeader .hamburger {

  filter: brightness(0) invert(1);

}

.detailHeader {
  background: #181717;
  heighT: 90px;
} */

.hamburger {
  cursor: pointer;
  transition: all .2s ease;
  

}

.hamburger:hover {
  filter: invert(65%) sepia(45%) saturate(332%) hue-rotate(117deg) brightness(90%) contrast(95%);
  /* transform: scale(1.1); */
}

.logoMobile {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.35em;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s ease;
}

.logoMobile:hover,
.logo:hover {
  color:#5fb4a2;

}

.mobileMenu .hamburger {
  width: 30px;
  filter: brightness(0) invert(1);
  transition: all .3s ease;
}

.mobileMenu .hamburger:hover {
  filter: invert(65%) sepia(45%) saturate(332%) hue-rotate(117deg) brightness(90%) contrast(95%);
  /* transform: scale(1.1); */

}


.mobileMenu .headerWrapper {
  height: 90px;
}

.mobileMenu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  overflow-y: auto !important;
  visibility: hidden;
  opacity: 0;
  background: rgb(20, 20, 20);
}

.mobileLinksContainer {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  transform: translateY(40px);
  opacity: 0;
  align-self: flex-start;
  margin-bottom: auto;
  margin-top: -100px;
}

.mobileMenu.open {
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.mobileLinksContainer.open {
  transition: transform 0.4s ease-in, opacity 0.8s ease-in;
  transform: translateY(0%);
  opacity: 1;
}

.mobileLinksContainer a {
  color: rgb(201, 201, 201);
  text-decoration: none;
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 70px;
  font-weight: 300;
}

.mobileMenuFooter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.mobileMenuFooter a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.25rem;
}

.noScroll {
  overflow: hidden;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  
}

.top {
  display: flex;
  flex-direction: column;
}

.linksContainer p {
  font-size: 1rem;
}

.headerWrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* outline: 1px solid red; */
}

.bar {
  height: 4px;
  background: #181717;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mobileMenu .bar {
 background:#5fb4a2;
}


@media screen and (min-width: 700px) {
  .headerWrapper {
    /* max-width: 1180px; */
    margin-left: auto;
    margin-right: auto;
  }
  .top {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .mobileLinksContainer {
    max-width: 1228px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileMenuFooter {
    max-width: 1228px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobileLinksContainer a {
    font-size: 80px;
    line-height: 120px;
    transition: color 0.3s ease;
  }

  .mobileLinksContainer a:hover {
    color: white;
  }

  .linksContainer {
    flex-direction: column;
    align-items: flex-start !important;
    /* gap: 8px; */
  }

  .linksContainer a {
    font-size: 14px;
    line-height: unset;
    transition: color 0.2s ease;
  }

  .linksContainer a:hover {
    color: #5fb4a2;
  }

  .linksContainer p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .desktopLinks {
    /* display: flex; */
    align-items: center;
    gap: 50px;
  }

  header {
    height: 90px;
    
  }

  

  .headerWrapper {
    max-width: 1228px;
    /* outline: 2px solid red; */
  }

  .desktopLinks a {
    font-weight: 400;
    font-size: 15px;
    transition: color 0.2s ease;
  }

  .desktopLinks a:hover {
    color: #5fb4a2;
  }

  .activeLink {
    color: #5fb4a2;
  }

  /* .hamburger {
    display: none;
  } */


  


}
