footer {
  margin-top: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.year {
  margin-top: auto;
  display: none;
}

.attribution {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.attributionWrapper {
  display: flex;
  flex-direction: column;
}

.footerNav {
  display: flex;
  flex-direction: column;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 1.5rem;
}

.linksContainer p {
  margin-bottom: 1.5rem;
}

.linksContainer a {
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.25rem;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .linksContainer {
    flex-direction: row;
    align-items: center !important;
    gap: 8px;
    margin-bottom: 0;
  }

  .linksContainer p {
    margin-bottom: 0;
  }

  footer {
    justify-content: space-between;
    max-width: 1228px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .linksContainer a {
    font-size: 14px;
    line-height: unset;
    transition: color 0.2s ease;
  }

  .linksContainer a:hover {
    color: #5fb4a2;
  }

  .attribution {
    font-size: 14px;
  }

  .year {
    display: unset;
  }

  .attributionWrapper {
    flex-direction: row;
    gap: 5px;
  }
}
