@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
span,
a {
  color: #181717;
}

html {
  color-scheme: dark light;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
}

p {
  color: #868686;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 1.7;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}

.fadeInLoad {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease-in-out;
  transform: translateY(0px);
}

.fadeInLoadDelay {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease-in-out;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.fadeInLoadOpacity {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out;
}

.fadeInSkills1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  transition-delay: 0s;
}

.fadeInSkills2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.7s, transform 0.7s;
  transition-delay: 0.1s;
}

.fadeInSkills3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  transition-delay: 0.2s;
}
.fadeInSkills4 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  transition-delay: 0.3s;
}

.skillsHidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
}

.fadeInRight {
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transition-delay: 0.4s;
}

.hiddenRight {
  opacity: 0;
}

.noScroll {
  overflow: hidden;
  height: 100%;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}
